.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    background-color: bisque;
}

.top-header {
    height: 50px;
    background-color: aqua;
}

.header {
    height: 150px;
    background-color: blue;
    border: 5px dotted rgb(226, 223, 43);
}

.content1 {
    height: 500px;
    width: 250px;
    margin-right: auto;
    background-color: rgb(181, 145, 214);
}

.footer {
    height: 50px;
    background-color: brown;
}